<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TechFixWebServicesSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49706/TechFixWebServices.asmx"
                binding="basicHttpBinding" bindingConfiguration="TechFixWebServicesSoap"
                contract="techFixClientService.TechFixWebServicesSoap" name="TechFixWebServicesSoap" />
        </client>
    </system.serviceModel>
</configuration>